
<h1>{{titulo}}</h1>
<img [width]="ancho"
     [height]="alto"
     [src]="imagen"
     alt="">

<!-- Property binding -->
<!-- [atributo]="valor" ->Atributos -->
<p>{{textoImagen}}</p>

<!-- Event binding -->
<!-- [evento]="mifuncion($event)" ->event -->

<!-- blur cuando sales del foco-->
<!-- mouseenter cuando el mouse entra -->
<button (click)="aumentarSueldo()"

>
  {{textoBoton}}
</button>


<input type="text" (change)="obtenerValor1($event)">
<input type="text" (change)="obtenerValor2($event)" >
<label for=""></label>

<button (click)="sumar()">Sumar</button>
<button (click)="restar()">Restar</button>
<button (click)="multiplicar()">Multiplicar</button>
<button (click)="dividir()">Dividir</button>

<h2>Suma</h2>
<h2>{{suma}}</h2>
<h2>Resta</h2>
<h2>{{resta}}</h2>
<h2>Multiplicacion</h2>
<h2>{{multiplicacion}}</h2>
<h2>Division</h2>
<h2>{{division}}</h2>



<button (click)="calculadora()">Calculadora</button>

